<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SpyResult</title>
</head>
<body>
    <h1>Request:</h1>
    <h6>Status Code: {{investigation.status_code}} {{res}} - {{message}}</h6>
    <ul>
        <li>Url: {{investigation.url_under_investigation.url}}</li>
        <li>Started at: {{investigation.request_start_time}}</li>
        {% if investigation.request_end_time %}
        <li>    End at: {{investigation.request_end_time}}</li>
        {% endif %}
        <li>Info: {{investigation.info}}</li>
        {% if investigation.head %}
        <li>    {{investigation.head}}</li>
        {% endif %}
        {% if investigation.head %}
        <li>    {{investigation.body}}</li>
        {% endif %}
    </ul>
</body>
</html>